.btnBlueGreen.btnPush {
    box-shadow: 0px 5px 0px 0px #0056b3;
}
.btnPush:hover {
    margin-top: 15px;
    margin-bottom: 5px;
}
.btnBlueGreen.btnPush:hover {
    box-shadow: 0px 0px 0px 0px #0056b3;
}
